*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    background-color: lightgray;
    align-items: center;
    justify-content: center;
}
.container{
    background-color: white;
    box-sizing: border-box;
    height: 200px;
    width: 500px;
    padding: 20px;
    box-shadow: 
    -10px -10px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(70,70,70,0.5);
}
.profileimage{
    display: flex;
    flex-direction: row;
    align-items: left;
}
.profile img{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin:0px 10px 5px 0px;
}
.profile{
    display: flex;
    align-items: center;
}
.posts,.followers,.following{
    font-size: 20px;
    margin: 0px 10px 0px 40px;
    align-items: center;
    text-align: center;
}
.name{
    font-size: 20px;
    font-weight: 20px;
    margin: 5px;
}
.field,.bio{
    font-size: 15px;
    margin: 3px;
}
